//Autocomplete
.ui-menu.ui-autocomplete {
  color: $body-color;
  background: $white;
  border-radius: 6px;
  max-height: 200px;
  overflow: auto;
  z-index: $zindex-dropdown;

  &-item:focus,
      .ui-menu-item.focus {
    outline: 0;
  }
  
  .ui-state-active {
    border: 0;
    color: $primary;
    font-weight: normal;
  }
 
  .ui-menu-item-wrapper {
    font-size: $font-size-md;

    &:hover {
      font-size: $font-size-md;
      font-weight: normal;
    }
  }
}

//Autocomplete multiselect
.ui-autocomplete-multiselect {
  display:  -webkit-inline-box;
  width: calc(100% - 27px) !important;
  padding: 0 8px;
  border: 1px solid $blue-gray-200;
  border-right: 0;
  background: $white;
  overflow: hidden;
  cursor: text;

  .form-control {
    font-family: $font-family-base;
    border: 0;
    height: 28px;
    padding: .3125rem .625rem .3125rem 0;
  }

  &:focus,
  &.focus {
    outline: 0;
    border-color: $yellow;
  }

  .ui-autocomplete-multiselect-item {
    display: flex;
    padding: 3px 5px 1px 5px;
    margin: 2px;
    margin-right: 5px;
    border-radius: 4px;
    background: $blue-gray-200;
    color: $white;
    font-family: $font-family-base;
    font-size: 0.8125rem;
    font-weight: normal;

    .ui-icon-close {
      top: 5px;
      margin-left: 0;
      background: transparent;
      text-indent: unset;
      &.ui-icon-close::after {
        position: absolute;
        top: -3px;
        right: -2px;
        color:#fff;
        font-family: $font-family-icon;
        content: "\e902";
        font-size: $font-size-lg;
        cursor: pointer;
      }
      &:hover::after {
        color: $gray-400;
      }
    }
  }

  .ui-autocomplete-loading {
    
  }
}

.autocomplete-combine {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  background: $white;
  padding: 18px 15px;
  border-radius: 8px;
  z-index: $zindex-dropdown;
  box-shadow: $box-shadow;

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 20px;

    li {
      padding: 4px 0;
  
      &:last-child,
      label {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
