//Custom utilities
.cursor-pointer {
  cursor: pointer;
}
  
//Custom components
.divider {
  width: 1px;
  height: 22px;
  margin: 0 30px;
}

//Safari/IE10 flex
.d-flex {
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;   /* TWEENER - IE 10 */
  display: -webkit-flex;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}