//datepicker
.ui-datepicker {
    font-size: 0.8125rem;
    background: $white;
    border-radius: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    font-family: $font-family-base;
    color: $body-color;
    z-index: $zindex-dropdown !important;
  
    .ui-datepicker-header {
      margin: -3px;
      border-radius: 0;
      border: 0;
      background: $primary;
      padding: 8px;
    }
  
    .ui-datepicker-prev,
    .ui-datepicker-next {
      cursor: pointer;
      top: 9px;
  
      span {
        background: transparent;
        font-family: 'icomoon' !important;
        content: "\e91a";
      }
  
      &:hover {
        background: transparent;
        border:0;
  
        a {
          color: #000;
        }
      }
    }
  
    .ui-datepicker-prev {
      left: 10px;
    }
  
    .ui-datepicker-next {
      right: 10px;
    }
  
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
      background: transparent;
      border: 0;
      color: $body-color;
      text-align: center;
  
      &:hover {
        color: $white;
        background: $primary;
        border-radius: 35px 35px 35px 35px;
      }
    }
  
    .ui-datepicker-today a {
      color: $primary;
    }
  }
  