header {
  padding: 0.5rem 0;
  color: $white;

  .btn {
    background: transparent;
    margin: 0;
    padding: 0;
  }
  
  .btn.btn-link,
  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    color: $white;
  }

  .btn.btn-link.dropdown-toggle:hover,
  .btn:hover::before,
  .dropdown.show .dropdown-toggle {
    color: $magenta-200;
  }
}
