//
// Icomoon icon font
//

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6wef6k');
  src:  url('../fonts/icomoon.eot?6wef6k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?6wef6k') format('woff2'),
    url('../fonts/icomoon.ttf?6wef6k') format('truetype'),
    url('../fonts/icomoon.woff?6wef6k') format('woff'),
    url('../fonts/icomoon.svg?6wef6k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -4px;
  color: $blue-gray-200;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-up(xl) {
  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    font-size: 1.25rem;
  }
}

@include media-breakpoint-down(xl) {
  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    font-size: 1.1875rem;
  }
}

@include media-breakpoint-down(md) {
  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    font-size: 1.125rem;
  }
}

.icon-vector-combine:before {
  content: "\e91f";
}
.icon-check:before {
  content: "\e91e";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-minus-box:before {
  content: "\e91b";
}
.icon-plus-box:before {
  content: "\e91c";
}
.icon-arrow-left:before {
  content: "\e919";
}
.icon-arrow-right:before {
  content: "\e91a";
}
.icon-chevron-up:before {
  content: "\e918";
}
.icon-chevron-down:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e900";
}
.icon-vector-arrange-below:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e904";
}
.icon-table-edit:before {
  content: "\e905";
}
.icon-file-plus:before {
  content: "\e906";
}
.icon-content-copy:before {
  content: "\e907";
}
.icon-content-duplicate:before {
  content: "\e908";
}
.icon-alert-octagon:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-alert:before {
  content: "\e90b";
}
.icon-check-circle:before {
  content: "\e90c";
}
.icon-close-circle:before {
  content: "\e90d";
}
.icon-information:before {
  content: "\e90e";
}
.icon-magnify:before {
  content: "\e90f";
}
.icon-playlist-plus:before {
  content: "\e910";
}
.icon-filter-remove:before {
  content: "\e911";
}
.icon-lock-reset:before {
  content: "\e912";
}
.icon-logout-variant:before {
  content: "\e913";
}
.icon-account:before {
  content: "\e914";
}
.icon-help-box:before {
  content: "\e915";
}
.icon-calendar:before {
  content: "\e916";
}
