/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $blue-gray-50; 
    border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary; 
    border-radius: 6px;
}