// Arial font
@font-face {
  font-family: 'arial';
  src: url('../fonts/arial-webfont.woff2') format('woff2'), url('../content/fonts/arial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Arial Bold font
@font-face {
  font-family: 'arialbold';
  src: url('../fonts/arialbd-webfont.woff2') format('woff2'), url('../content/fonts/arialbd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Icon + Text
span[class^="icon-"]::before,
span[class*=" icon-"]::before {
  padding-right: 5px;
}
  