.breadcrumb {
  background: transparent;
  padding-left: 0;
  margin-bottom: 0;
}

.breadcrumb-item {
  &::before {
    vertical-align: -1px;
  }

  a:hover {
    color: $primary;
  }
}

.breadcrumb-item:not(:last-child) {
  font-size: $font-size-base;
  padding-top: 0.3125rem;
  
  + .breadcrumb-item::before {
    font-family: $font-family-icon;
    content: "\e91a";
    font-size:  $font-size-md;
  }
}

.breadcrumb-item:last-child {
  
  &.active {
    font-size: 1.25rem;
    color: $blue-gray-800;
  }
}

@include media-breakpoint-down(md) {
  .breadcrumb-item {

    &:not(:last-child) {
      font-size: $font-size-md;
      padding-top: 0.3125rem;
    }

    &:last-child.active {
      font-size: $font-size-xlg;
    }
  }
  
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
  }
}
