.btn {
  background: transparent;
  padding: 0;

  &:focus,
  .focus   {
    box-shadow: none;
  }
}

.btn[class^="btn-"][class^="icon-"],
.btn[class*=" btn-"][class*=" icon-"] {
  position: relative;

  span {
    vertical-align: 4px;
  }

  &::before {
    position: absolute;
  }
}

.btn-link {
  font-size: $font-size-md;
  color: $blue-gray-200;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 1.375rem;
  
  &::before {
    top: -1px;
    left: 0;
  }

  &:hover,
  &:focus,
  &.focus {
    background: transparent;
    text-decoration: none;
    color: $blue-gray-900;
    
    span {
      color: $blue-gray-700;
    }

    &[class^="icon-"]::before,
    &[class*=" icon-"]::before,
    &[class^="icon-"]::after,
    &[class*=" icon-"]::after {
      color: $blue-gray-800;
    }
  }
}

.btn-primary {
  color: $white;
  background: $primary;
  font-size: $font-size-lg;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0.9375rem 0.3125rem 0.9375rem;

  &[class^="icon-"],
  &[class*=" icon-"] {
    padding-left: 40px;
    
    &::before {
      color: $white;
      left: 13px;
      top: 8px;
    }
  }

  &:hover {
    color: $blue-gray-800;
    background: $yellow;

    &[class^="icon-"]::before,
    &[class*=" icon-"]::before {
      color: $blue-gray-800;
    }
  }
}

.btn-secondary {
  color: $white;
  background: $blue-gray-800;
  font-size: $font-size-lg;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  padding: 0.5rem 0.9375rem 0.3125rem 0.9375rem;

  &[class^="icon-"],
  &[class*=" icon-"] {
    padding-left: 40px;
    
    &::before {
      color: $white;
      left: 12px;
      top: 7px;
    }
  }

  &:hover {
    color: $blue-gray-800;
    background: $yellow;

    &[class^="icon-"]::before,
    &[class*=" icon-"]::before {
      color: $blue-gray-800;
    }
  }
}