.dropdown {

  .dropdown-toggle::after {
    font-family: $font-family-icon;
    content: "\e917";
    border: 0;
    vertical-align: -3px;
    margin-left: 2px;
  }

  &.show .dropdown-toggle::after {
    content: "\e918";
  }
}

.dropdown-menu {
  border: 0;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.dropdown-item {
  color: $body-color;

  &:hover,
  &:active,
  .active {
    background: transparent;
    color: $primary;
  }
  
  &:focus {
    color: $blue-gray-900
  }
}

.dropdown [class^="btn-"].dropdown-toggle,
.dropdown [class*=" btn-"].dropdown-toggle {
  padding-right: 1rem;
}

@include media-breakpoint-up(xl) {
  .dropdown .dropdown-toggle::after {
    font-size: 1.125rem;
  }
}

@include media-breakpoint-down(xl) {
  .dropdown .dropdown-toggle::after {
    font-size: 1.0625rem;
  }
}

@include media-breakpoint-down(md) {
  .dropdown .dropdown-toggle::after {
    font-size: 1rem;
  }
}