//Label
label {
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
}

.form-group-select {
    
    label {
        margin-bottom: 9px;
    }

    .custom-select {
        margin-top: -5px;
    }
}

//Form control focus
.form-control:focus,
.custom-control-input:focus  {
    color: $blue-gray-300;
    border-color: $yellow-400;
    box-shadow: none;

    + .custom-control-indicator {
        border-color: $yellow-400;
    }
}

//Form control
.form-control {
    height: 30px;   
    border-color: $blue-gray-200;
    border-radius: 0;
    padding: .3125rem .625rem;
}

//Custom select
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border-color: $blue-gray-200;
    background: $white url("../../content/images/arrow-down.svg") no-repeat right 0.75rem center;
    background-size: 12px;
    cursor: pointer;
}

//Custom checkbox
.form-check,
.form-radio {
    display: inline;
    align-items: center;
    padding-left: 0;
    vertical-align: -2px;

    .custom-control {
      padding-left: 0;
    }
}

label.custom-checkbox.custom-control,
label.custom-radio.custom-control {
    display: inline-flex;
    align-items: center;
}

.custom-control-indicator {
  border: 2px solid $blue-gray-100;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  color: $white;
  background-color: $success;
  border: 2px solid $success;

  &::after {
    position: absolute;
    top: 1px;
    font-family: $font-family-icon;
    content: "\e91e";
  }
}

//Custom form control width
.form-control-date {
    width: 137px !important;
}

.group-form-gestor {
    width: 506px;
}

.custom-select {
    width: 132px;
}

.form-group-tarifa {
    position: relative;
    width: 1100px;
}

.form-group-titulo {
    width: 450px;
}

.form-group-divisa {
    width: 117px;
}

.form-group-id {
    width: 100px;
}

.form-group-pais {
    width: 304px;
}

@include media-breakpoint-down(xxl) {
    .group-form-gestor {
        width: 315px;
    }
    .form-control-date {
        width: 123px !important;
    }
    .custom-select {
        width: 128px;
    }
    .form-group-tarifa {
        width: 782px;
    }
    .form-group-pais {
        width: 205px;
    }
}

@include media-breakpoint-down(xl) {
    .form-control {
        font-size: $font-size-md;
    }
    .group-form-gestor {
        width: 175px;
    }
    .form-control-date {
        width: 114px !important;
    }
    .custom-select {
        width: 120px;
    }
    .form-group-tarifa {
        width: 688px;
    }
    .form-group-titulo {
        width: 350px;
    }
    .form-group-pais {
        width: 146px;
    }
}

@include media-breakpoint-down(lg) {
    .form-control-date {
        width: 120px !important;
    }
    .custom-select {
        width: 130px;
    }
    .group-form-gestor {
        width: 100%;
    }
    .form-group-tarifa {
        width: 688px;
    }
    .form-group-titulo {
        width: 265px;
    }
    .form-group-pais {
        width: 108px;
    }
}

@include media-breakpoint-down(md) {
    .form-control {
        font-size: $font-size-sm;
    }
    .form-control-date {
        width: 105px !important;
    }
    .custom-select {
        width: 120px;
    }
    .group-form-gestor {
        width: 775px;
    }
    .form-group-tarifa {
        width: 488px;
    }
    .form-group-titulo {
        width: 228px;
    }
    .form-group-divisa {
        width: 133px;
    }
    .form-group-id {
        width: 143px;
    }
    .form-group-pais {
        width: 303px;
    }
    .custom-control-description {
        padding-top: 2px;
    }
}

@include media-breakpoint-down(sm) {
    .form-control,
    .form-group {
        width: 100% !important;
    }
    .input-group-icon-multiselect .input-group-append [class^="icon-"]::before {
        vertical-align: -11px !important;
    }
}