.input-group .form-control:focus,
.input-group .btn:focus {
  box-shadow: none;
  border-color: $yellow-500;

  ~ .input-group-append {
    border-color: $yellow;
  }

  button {
    background: transparent;
    padding: 0;

    &:hover:before{
      color: $yellow;
    }
  }
}

.input-group-icon {

  .form-control {
    padding-right: 32px;
  }

  .input-group-append {
    position: absolute;
    top: 5px;
    right: 2px;
    z-index: 999;

    [class^="icon-"],
    [class*=" icon-"] {
  
      &::before {
        color: $primary;
        background: transparent;
        z-index: $zindex-dropdown;
      }
    }
  
    .btn[class^="icon-"]:hover::before,
    .btn[class*=" icon-"]:hover::before {
      color: $yellow;
    }
  }
}

.input-group-icon-multiselect {

    .focus + .input-group-append {
    border-color: $yellow;
  }
  
  .input-group-append {
    border: 1px solid $blue-gray-200;
    border-left: 0;

    [class^="icon-"],
    [class*=" icon-"] {
  
      &::before {
        color: $primary;
        background: transparent;
        vertical-align: -7px;
      }
    }
  }
  
  &.icon2  {

    .ui-autocomplete-multiselect {
      width: calc(100% - 54px) !important;
    }

    .btn {

      &::before {
        vertical-align: -5px;
        padding-right: 7px;
      }

      &:hover::before {
        color: $yellow;
      }
    }

    span::before{
      vertical-align: -8px !important;
    }
  }
}

@include media-breakpoint-down(xl) {
  .input-group-append [class^="icon-"]::before,
  .input-group-append [class*=" icon-"]::before {
    vertical-align: -5px;
  }

  .input-group-icon-multiselect .input-group-append [class^="icon-"]::before {
    vertical-align: -9px;
  }
  
  .input-group-icon-multiselect .input-group-append [class*=" icon-"]::before {
    vertical-align: -3px;
  }
}

@include media-breakpoint-down(md) {
  .input-group-append [class^="icon-"]::before,
  .input-group-append [class*=" icon-"]::before {
    vertical-align: -7px;
  }

  .input-group-icon-multiselect .input-group-append [class^="icon-"]::before,
  .input-group-icon-multiselect.icon2 span::before {
    vertical-align: -11px !important;
  }
}

@include media-breakpoint-down(sm) {
  .input-group-icon-multiselect.icon2 .ui-autocomplete-multiselect {
    width: calc(100% - 50px) !important;
  }
}
