.nav-item {
    
    &:first-child {
        padding-left: 0;
    }
}

@include media-breakpoint-down(xl) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.1875rem;
        padding-left: 0.1875rem;
    }
}

@include media-breakpoint-down(md) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}