.navbar {
  padding: 0;
  font-size: $font-size-lg;

  &-nav {
    width: 100%;
  }

  li {
    padding: 0 0.3125rem;
  }

  a {
    color: $secondary;
  }

  .nav-item.active a,
  .nav-item a:hover{
    border-bottom: 2px solid $primary;
  }

  .btn-link {
    text-transform: none;
    font-size: $font-size-lg;
    color: $secondary;
    font-weight: normal;

    &:hover {
      color: $blue-gray-900
    }
  }
}

.navbar .dropdown-menu {
  border-radius: 0;
  border-top: 3px solid $primary;
  top: 29px
}

.navbar-toggler {
  padding-top: 0;
  padding-left: 0;

  &-icon::after{
    font-family: $font-family-icon;
    color: $blue-gray-700;
    font-size: 1.75rem;
    content: "\e91d";
  }
}