html {
    height: 100%;
    overflow: auto;
}

body {
    font-family: $font-family-base;
    height: 100%;
    margin: 0px;
    color: $body-color;
}

@include media-breakpoint-up(xl) {
    body {
        font-size: $font-size-base;
    }
}

@include media-breakpoint-down(xl) {
    body {
        font-size: $font-size-md;
    }
}

@include media-breakpoint-down(md) {
    body {
        font-size: $font-size-sm;
    }
}