// Color system
$magenta-50:  #f8e4eb;
$magenta-100: #e2dddf;
$magenta-200: #e491ab;
$magenta-300: #d96489;
$magenta-400: #d04370;
$magenta-500: #c82257;
$magenta-600: #c21e4f;
$magenta-700: #bb1946;
$magenta-800: #b4143c;
$magenta-900: #a70c2c;
$magenta:     $magenta-500;

$blue-gray-50:  #e8ebed;
$blue-gray-100: #c5ced1;
$blue-gray-200: #9fadb3;
$blue-gray-300: #798c95;
$blue-gray-400: #5c737e;
$blue-gray-500: #3f5a67;
$blue-gray-600: #39525f;
$blue-gray-700: #314854;
$blue-gray-800: #293f4a;
$blue-gray-900: #1b2e39;
$blue-gray:     $blue-gray-400;

$yellow-50:  #fff9e7;
$yellow-100: #fff3d1;
$yellow-200: #ffedba;
$yellow-300: #ffe8a4;
$yellow-400: #ffe28e;
$yellow-500: #ffdd78;
$yellow-600: #ffd761;
$yellow-700: #ffd24b;
$yellow-800: #ffcc34;
$yellow-900: #ffc71f;
$yellow:      $yellow-900;

$blue:   #1aafcf;
$green:  #19b885;
$orange: #ef9f41;
$red:    #f56446;
$pink:   #DB7093;

$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000000;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$colors: ();
$colors: map-merge(
  (
    "magenta":    $magenta,
    "blue-gray":  $blue-gray,
    "yellow":     $yellow,
    "blue":       $blue,
    "green":      $green,
    "orange":     $orange,
    "red":        $red,
    "pink":       $pink,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $magenta;
$secondary:     $blue-gray;
$jip:           $yellow;
$success:       $green;
$info:          $blue;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$pro:           $white;
$pre:           $pink;
$devel:         $gray-300;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "pre":        $pre,
    "pro":        $pro,
    "devel":      $orange
  ),
  $theme-colors
);


// Spacing
$spacer: 1rem;  //16px
$spacers: ();
$spacers: map-merge(
  (
    0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3: $spacer, 4: ($spacer * 1.5), 5: (5px), 10: (10px), 15: (15px), 20: (20px), 25: (25px), 30: (30px), 35: (35px), 40: (40px), 45: (45px), 50: (50px), 55: (55px), 60: (60px), 65: (65px), 70: (70px), 75: (75px), 80: (80px), 85: (85px),90: (90px), 95: (95px), 100: (100px)
  ),
  $spacers
);

$sizes: ();
$sizes: map-merge(
  (
    25: 25%,
    33: 33%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Body
$body-bg:                   $gray-200;
$body-color:                $secondary;
// Production Environment Color
$body-bg:                   $pro;
$body-color:                $secondary;
// Pre-Production Environment Color
$body-bg:                   $pre;
$body-color:                $secondary;
// Development Environment Color
$body-bg:                   $devel;
$body-color:                $secondary;


// Links
$link-color:                $blue-gray-600;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 20%);
$link-hover-decoration:     none;


// Paragraphs
$paragraph-margin-bottom:   0.9375rem;


// Grid breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1366px,
  xxl: 1600px,
  xxxl: 1920px
);


// Grid containers
$container-max-widths: (
  xxs: 0,
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1366px,
  xxl: 1600px,
  xxxl: 1920px
);


// Grid columns
$grid-columns:                12;
$grid-gutter-width:           30px;

// Components
$line-height-lg:              1.5;
$line-height-sm:              1;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               0.3125rem;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 3px 6px 0 rgba($black, 0.16);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$caret-width:                 .3em !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

// Fonts

$font-family-sans-serif:      'arial', Arial, Helvetica, sans-serif;
$font-family-base:            $font-family-sans-serif;
$font-family-icon:            'icomoon';

$font-size-base:              0.9375rem;  //15px
$font-size-xlg:               1.125rem;   //18px
$font-size-lg:                1rem;       //16px
$font-size-md:                0.875rem;   //14px
$font-size-sm:                0.75rem;    //12px

$line-height-base:            1.3;

$h1-font-size:                1.375rem;
$h2-font-size:                $font-size-base;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$small-font-size:             80% !default;

$text-muted:                  $gray-600 !default;

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;

$list-inline-padding:         .5rem !default;

$hr-margin-y:                 $spacer !default;


// Tables


// Buttons + Forms

$input-btn-padding-y:         0.3125rem;
$input-btn-padding-x:         1.25rem;
$input-btn-line-height:       $line-height-base;

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-border-width:      $border-width !default;

$input-placeholder-color:     $gray-300;

// Buttons

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-line-height:             $input-btn-line-height !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;


// Forms


// Form validation


// Dropdowns


// Z-index master list


// Navs


// Navbar


// Pagination


// Jumbotron


// Cards


// Tooltips


// Popovers


// Badges


// Modals


// Alerts


// Progress bars


// List group


// Image thumbnails


// Figures


// Breadcrumbs


// Carousel


// Close


// Code


// Printing