@include media-breakpoint-up(xl) {
  .container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

@include media-breakpoint-down(xl) {
  .container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    margin-right: 0;
    margin-left: 0;
  }
}